:root {
  --header-background:#333333;
  --row2and3-background-color:#FFFFFF;
  --background-color:#232323;
  --body-text-color:#3a3535;
  --font-family:Georgia, "Times New Roman", Times, serif;
  --row-color:#979797;
  --hyperlink-color:#ee00ff;
  --header-nav-text-color:#C0BAB6;
  --border-color:#D6D6D6;
  --quote-background-color:#ECECEC;
  --footer-hyperlink-color:#919191;
}

html{overflow-y:scroll;}

* {
    box-sizing: border-box;
    max-width:100%;
}


.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

body{margin:0; padding:0; font-size:100%; height:100%; font-family: var(--font-family); color: var(--body-text-color); background-color: var(--background-color);}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family: var(--font-family);}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:.2em; border:.1em solid  var(--border-color); text-align:center;}
.imgl{float:left; margin:0 1em 1em 0; clear:left;}
.imgr{float:right; margin:0 0 1em 1em; clear:right;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:125%; font-weight:normal; font-style:italic; line-height:normal;}

address{font-style:normal;}

blockquote, q{display:block; padding:.66em .83em; color: var(--row-color); background-color: var(--quote-background-color); font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'� '; font-size:100%;}
blockquote:after, q:after{content:' �'; font-size:100%; line-height:0;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:100%; font-family: var(--font-family)}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/
address, article, aside, figcaption, figure, footer, header, nav, section{margin:0; padding:0;}

q{display:block; padding:0 .5em .5em .5em; color: var(--row-color); background-color: var(--quote-background-color); font-style:italic; line-height:normal;}
q:before{content:'� '; font-size:100%;}
q:after{content:' �'; font-size:100%; line-height:0;}

/* ----------------------------------------------Classes-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #container{padding:2.5em 5% 1em 5%;}
  [class*="col-"] {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #container{padding:2.5em 5% 1em 5%;}
  [class*="col-"] {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #container{padding:2.5em 16.5% 1em 16.5%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  [class*="col-"] {
      float: left;
  }
}

.row1, .row1 a{color: var(--header-nav-text-color); background-color: var(--header-background);}
.row2{color: var(--row-color); background-color: var(--row2and3-background-color);}
.row2 a{color: var(--hyperlink-color); background-color: var(--row2and3-background-color);}
.row3{color: var(--row-color); background-color: var(--row2and3-background-color);}
.row3 a{color: var(--hyperlink-color); background-color: var(--row2and3-background-color);}
.row4, .row4 a{color: var(--footer-hyperlink-color); background-color: var(--background-color);}

.blogpost {border-bottom: 1px solid  var(--border-color); margin-bottom: .1em;}

/*----------------------------------------------Header-------------------------------------*/


#header, #container, #footer{display:block; width:100%; margin:0 auto;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #header{padding:1.65em 0% 1em 0%;}
  #header #hgroup h1, #header #hgroup h2{text-align:center;}
  #header nav a{width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #header{padding:1.65em 0% 1em 0%;}
  #header #hgroup h1, #header #hgroup h2{text-align:left;}
  #header nav a{width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #header{padding:1.65em 16.5% 1em 16.5%;}
  #header #hgroup h1, #header #hgroup h2{text-align:left;}
  #header nav a{width: auto;}
}

#header #hgroup{float:left; margin:0 0 1.65em 0;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; font-style:normal; text-transform:none;}
#header #hgroup h1{font-size:200%;}
#header #hgroup h2{font-size:150%;}

#header nav{display:table; width:100%; margin:0; padding: 0.1em .5em .1em .5em; color: var(--header-nav-text-color); background-color: var(--background-color); clear:both;}
#header nav a{display:block; float:left; text-transform:uppercase; padding: 1em .7em 1em .7em; font-size:100%; color: var(--header-nav-text-color); background-color: var(--background-color); }
#header nav a:hover{color: var(--hyperlink-color); background-color: var(--background-color);}
#header nav div a{display:block; float:left; text-transform:uppercase; padding: 1em .7em 1em .7em; font-size:100%; color: var(--header-nav-text-color); background-color: var(--background-color); }
#header nav div a:hover{color: var(--hyperlink-color); background-color: var(--background-color);}
/*----------------------------------------------Dropdown Menu-------------------------------------*/
.dropbtn {
    background-color: var(--header-background);
    color: var(--header-nav-text-color);
    padding: 0.1em .5em .1em .5em;
    color: var(--header-hyperlink-color);
    font-size: 100%;
    cursor: pointer;
    border: none;
}

.dropdown {
    position: relative;
    background-color: var(--header-background);
    text-align: left;
    display: inline-block;
    width:100%;
    margin-bottom: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--header-background);
    width:100%;
    z-index: 1;
}

.dropdown-content:hover {
  background-color: var(--header-background);
}

.dropdown-content a {
    color: var(--header-hyperlink-color);
    padding: 1em 1.3em;
    display: block;
}

.dropdown-content a:hover {
  background-color: var(--header-alt-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--header-alt-color)
}


/*----------------------------------------------Content Area-------------------------------------*/

#container section{margin-bottom:2.5em; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}

/* ------Main Content-----*/
#container #intro{border-bottom:1px solid  var(--border-color);}
#container article {display: block;}
#container article header a h2{font-weight: bold; font-size:150%;}
#container article figure ul{margin:0; padding:0; list-style:none;}
#container article figure ul li{float:left; margin: .5em .5em .5em .5em;}
#container article figure ul li img{width:12em; height:12em; margin:0; padding:.2em; border:.1em solid  var(--border-color);}

#container #homepage{display:block; width:100%; line-height:1.6em;}
#container #homepage section{margin-bottom:0;}
#container #homepage section h2.title{margin:0 0 2em 0; padding:0 0 .66em 0; font-weight:bold; text-transform:uppercase;}
#container #homepage section footer{clear:both;}

#container #slider h2{font-size:150%; font-weight:bold;}

/* ------Blogposts-----*/

#container #homepage section article header h2{font-size:110%; font-weight:bold;}
#container #homepage section article address, #container #homepage section article time{font-size:90%; font-style:normal;}
#container #homepage section article p{font-size:100%;}
#container #homepage section article footer{text-align:left;}

/* ------Quick Links-----*/

#container #homepage section nav li{margin:0 0 .3em 0; padding:0 0 .2em 0; border-bottom:.1em solid  var(--border-color);}
#container #homepage section nav li.last{margin:0;}
#container #homepage section article{font-size:80%;}
#container #homepage section nav a{padding:0 0 0 .5em; background:url("../images/arrow.gif") left center no-repeat;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #container #homepage section{border-bottom:.1em solid  var(--border-color);}
  #container #homepage section nav{width:100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #container #homepage section{border-bottom:.1em solid  var(--border-color);}
  #container #homepage section article {width: 95%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #container #homepage section{border-bottom:0px}
  #container #homepage section nav{width:95%;}
}
/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:1.65em 0;}
#footer p{margin:0; padding:0;}
